.content{
  display: flex;
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 60px;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: blue;
    background: rgb(177, 199, 227);
    backdrop-filter: blur(10px);
    
    p{
      margin-left: 5px;
    }
  }
}